/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-size: 0.875em;
	color: #ffffff;
	background: #f74c55;
}
header{
	height: 496px;
	background: url("../images/small_circles.png") no-repeat 100% -800%, url("../images/large_circles.png") no-repeat 0% 0%;
}
article{
	background: #ffffff;
}
h1{
	font-family: Abadi;
	font-size: 42px;
}
ul{
	font-family: Helvetica;
}


.inner{
	width: 80%;
	margin: 0 10% 0 10%;
}
.cols{
	float: left;
}
.col_1{
	background: grey;
	width: 27.5%;
	padding-left: 10%;
}
.col_2{
	width: 28.1%;
	background: red;
}
.col_3{
	width: 24.375%;
	background: green;
	padding-right: 10%;
}
/*.grid:after{
	content: "";
	display: table;
	clear: both;
}*/

.clearfix{
	clear: both;
}