/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-size: 0.875em;
	color: #ffffff;
	background: #f74c55;
}
header{
	height: 496px;
	background: url("../images/small_circles.png") no-repeat 100% -800%, url("../images/large_circles.png") no-repeat 0% 0%;
}
article{
	background: #ffffff;
}
h1{
	font-family: Abadi;
	font-size: 42px;
}
h2{
	font-size: 30px;
}
h3{
	padding: 10px;
}
a{
	text-decoration: none;
}
ul{
	font-family: Helvetica;
}
li{
	display: inline-block;
}
footer{
	text-align: center;
}

.inner{
	position: relative;
	width: 80%;
	margin: 0 10% 0 10%;
}
.logo{
	display: inline-block;
	margin-top: 15px;
}
.navigation{
	position: absolute;
	top: 30px;
	right: 30px;
}
.header_box{
	position: absolute;
	top: 200px;
	left: 560px;
}
.inner_content{
	padding: 90px 80px;
}
.cols{
	float: left; 
}
.col_1{
	background: grey;
	width: 26.665%;
	padding-left: 10%;
}
.col_2{
	width: 26.665%;
	background: #f74c55;
}
.col_3{
	width: 26.665%;
	background: green;
	padding-right: 10%;
}
.clearfix{
	clear: both;
}
.cols div{
	padding: 3em 2em;
}

.inner_contant p{
	margin-top: 30px;
}

h3 img{
	margin-top: 5px;
}