/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Base*/
body{
	font-size: 1em;
	color: #ffffff;
	background: #f74c55;
}
header{
	background: url("../images/small_circles.png") no-repeat 100% -800%, url("../images/large_circles.png") no-repeat 0% 0%;
}
article{
	background: #ffffff;
}
h1{
	font-family: "Abadi";
	font-size: 2.625em;
	font-weight: bolder;
}
h2{
	font-size: 1.875em;
}
h3{
	display: inline-block;
	font-family: "Open Sans";
	font-size: 1.375em;
	padding: 10px 0 10px 10px;
	vertical-align: middle;
}
p{
	font-family: "MS Sans";
	font-size: 0.875em;
}
a{
	color: #ffffff;
	text-decoration: none;
}
ul{
	font-family: "Helvetica";
}
li{
	display: inline-block;
}
footer{
	padding: 1.563em 0 1.563em 0;
	color: #000000;
	background: #ffffff;
	text-align: center;
}
/*Grid*/
.inner{
	position: relative;
	width: 80%;
	margin: 0 10% 0 10%;
}
.cols{
	float: left; 
}
.col_1{
	background: #404040;
	width: 26.665%;
	padding-left: 10%;
}
.col_2{
	width: 26.665%;
	background: #f74c55;
}
.col_3{
	width: 26.665%;
	background: #2d5f3b;
	padding-right: 10%;
}
.grid:after{
 	content: "";
 	display: table;
 	clear: both;
}
/*Project*/
.logo{
	display: inline-block;
	margin-top: 0.938em;
}
.navigation{
	position: absolute;
	top: 30px;
	right: 30px;
}
.navigation li{
	margin-right: 30px;
}
.header_box{
	display: inline-block;
	margin-top: 146.3667px;
	margin-left: 565px;
	margin-bottom: 148.133px;
}
.btn{
	display: block;
	font-size: 24px;
	font-family: "Open Sans";
	width: 158px;
	text-align: center;
	margin-top: 25px;
	padding: 7px 0 7px 0;
	border: 1px solid #ffffff;
	border-radius: 4px;
}
.text_box{
	padding: 90px 80px;
}
.text_box p{
	margin-top: 30px;
}
.colors{
	margin-top: 75px;
	margin-bottom: 19px;
}
.colors li{
	width: 36px;
	height: 30px;
	margin-right: -5px;
	margin-bottom: -4.5px;
}
.brown{
	background: #ee732f;
}
.pink{
	background: #f74c55;
}
.green{
	background: #2d5f3b;
}
.grey{
	background: #404040;
}
.cols_box{
	margin: 2.594em 2em;
}
.cols_box_title{
	margin-bottom: 15px;
}
.cols_box_title img{
	vertical-align: middle;
}
.btn_plus{
	cursor: pointer;
	float: right;
	width: 35px;
	height: 35px;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	margin-top: 20px;
}
.btn_plus img{
	margin-top: 8px;
}
.clearfix{
	clear: both;
}
.music{
	text-align: center;
	background: url("../images/music_bg.png") no-repeat;
	background-size: 100%;
	background-position: 30%;
}
.bg_music{
	padding: 90px 80px;
	background: rgba(0, 0, 0, 0.85);
	border-bottom: 9px solid;
	border-image: url("../images/border_music.png") 1;
}
.music h1{
	display: inline-block;
	margin-top: 79px;
}
.music .btn{
	margin: 50px auto 45px auto;
	padding-left: 13px;
	padding-right: 13px;
}
.popup:before{
	position: relative;
	content: "";
	display: none;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.popup:target:before{
	display: block;
}
.windows{
	position: fixed;
	left: 25%;
	top: -50%;
	z-index: 11;
	width: 50%;
	height: 50%;
}
.popup:target .windows{
	transform: translate(0, 0);
	top: 25%;
}
.close img{
	position: absolute;
	top: -17px;
	right: -17px;
	max-width: 15px;
	height: 15px;
}
/*.registration{
	text-align: center;
	vertical-align: middle;
}*/
.registration .registration_name{
	margin: 50px auto;
}

.green_window{
	background: #2d5f3b;
}
.grey_window{
	background: #404040;
}
.close img:hover{
	transition: 0.2s ease-in-out;
	transform: rotate(90deg);
}
.btn_plus:hover{
	transform: scale(1.1);
}
.btn_plus:active{
	transform: scale(0.9);
}